<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SCMSEntities" connectionString="metadata=res://*/SqlData.Model1.csdl|res://*/SqlData.Model1.ssdl|res://*/SqlData.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.113.59.143,1433;initial catalog=SCMS;user id=sa;password=abc13579;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>